*,
::before,
::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

body{
    width: 100%;
    min-height: 100vh;
    font-family: 'Segoe UI', Arial, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: #1c1d1f;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img{
    max-width: 100%;
    display: inline-block;
    height: auto;
}

svg{
    vertical-align: middle;
}

.wrapper{
    width: 100%;
    min-height: 100vh;
    background-image: url(/img/body-background-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: red; */
}

.konga-companies-section{
    display: none;
}

.mobile-navbar{
    background-color: white;
    position: fixed;
    z-index: 150;
    top: 0;
    width: 100%;
    /* There was a top value of 2.5rem though */
}

.mobile-navbar-container{
    box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 5%);
    padding: .625rem .9375rem;
}

.mobile-navbar-menu{
    display: block;
}

.hamburger-toggle-btn{
    display: inline-block;
    margin-right: 0.625rem;
}

.hamburger-toggle-btn svg{
    height: 1.875rem;
}

.hamburger-toggle-btn svg path{
    fill: currentColor;
}

.konga-logo-container{
    display: inline-block;
    max-height: 1.5rem;
    vertical-align: middle;
}

.konga-logo-container{
    margin-top: 0.0625rem;
    width: 5.3125rem;
}

.shopping-info-container{
    float: right;
}

.shopping-info-container a{
    display: inline-block;
    position: relative;
    text-align: right;
    width: 2.1875rem;
}

.shopping-info-container svg{
    color: #50545b;
    height: 1.875rem;
}

.shopping-store svg{
    transform: scale(.8);
    vertical-align: middle;
}

.shopping-store svg path{
    fill: currentColor;
}

.shopping-info-container a:last-of-type{
    margin-right: 0.3125rem;
}

.shopping-info-container a:last-of-type path{
    fill: currentColor;
}
@media screen and (min-width: 768px) {
    .mobile-navbar{
        display: none;
    }

    .konga-companies-section{
        background-color: #f6f6f6;
        display: inline-block;
        padding: 0.53312rem;
        text-align: center;
        width: 100%;
    }

    .konga-companies-link{
        max-height: 1.125rem;
    }
    
    .konga-companies-img{
        max-height: 1.125rem;
        margin-right: 3.125rem;
        max-width: 6.125rem;
        text-indent: -624.9375rem;
    }
}