*,
::before,
::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

body{
    width: 100%;
    min-height: 100vh;
    font-family: 'Segoe UI', Arial, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

img{
    max-width: 100%;
    display: inline-block;
    height: auto;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.mobile-header-nav{
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    padding-block: .75rem;
    gap: .5rem;
}

.mobile-header-nav-first-section{
    display: flex;
    justify-content: space-between;
}

.mobile-header-nav-first-section>div{
    display: flex;
    align-items: center;
    gap: .75rem;
}

.hamburger-icon{
    height: 1.875rem;
}

.hamburger-icon path{
    fill: currentColor;
}

.mobile-konga-logo{
    width: 5.3125rem;
}

.shopping-cart-icon{
    color: #50545b;
}

.store-icon{
    color: #50545b;
    height: 1.875rem;
    transform: scale(.8)
}

.searchbar-container{
    display: flex;
    align-items: center;
    background-color: #e8e8e8;
    border-radius: .1875rem;
    padding: .75rem;
}

#search{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

@media screen and (min-width: 768px){
    .mobile-header-nav{
        display: none;
    }
}