*,
::before,
::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

body{
    width: 100%;
    min-height: 100vh;
    font-family: 'Segoe UI', Arial, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

img{
    max-width: 100%;
    display: inline-block;
}

.konga-companies{
    display: none;
    background-color: rgb(246,246,246);
    padding-block: 1rem;
}

.konga-companies-container{
    width: 90%;
    max-width: 1000px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.konga-companies-container>div{
    width: 100px;
}

/* For tablet view */
@media screen and (min-width: 650px){
    .konga-companies{
        display: block;
    }
}